doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
 
		title Website Title

		// Mobile viewport optimized: j.mp/bplateviewport
		meta(name="viewport", content ="width=device-width, initial-scale=1.0, maximum-scale=1")

		link(rel='stylesheet', type='text/css', media='all', href='/assets/css/build/app.css')

		// Typekit Fonts
		//- script(type="text/javascript", src="//use.typekit.net/src4bbw.js")
		//- script(type="text/javascript")
		//- 	| try {Typekit.load();}catch(e){}

	body
		header.l-header

		.l-wrapper
			block content

		footer.l-footer
		script(src="/assets/js/build/app.min.js")


		//- script
		//- 	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		//- 	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		//- 	g.src='//www.google-analytics.com/ga.js';
		//- 	s.parentNode.insertBefore(g,s)}(document,'script'));