<footer class="home-footer">
          <span class="copyright">CONCEALED 360 - ALL RIGHTS RESERVED - © 2018</span>

          <ul class="footer-nav">
            <li><a href="/about">about</a></li>
            <li><a href="/courses/law-enforcement">law enforcement</a></li>
            <li><a href="/courses/citizen-training">citizen training</a></li>
            <li><a href="/courses/testimonials">Testimonials</a></li>
            <li><a href="mailto:info@concealed360.com" class="button contact">CONTACT US</a></li>
          </ul>
      </footer>


      <div class="overlay">
        <div class="modal">
          <a href="#c" class="close"></a>
          <h1>Lisa Lambeth</h1>
          <p>Lisa Lambeth, Concealed 360’s Founder and Principal, began her career as a Federal Probation Officer in the Northern District of Texas, Dallas, Texas, where she was the Intensive Supervision Specialist.  She developed the surveillance team and worked on task force operations including the Domestic Terrorism Task Force, the Asian Gang Task Force and The Russian Organized Crime Task Force, as well as served as assistant firearms and safety instructor. Her career as an advanced safety and firearms instructor includes positions with Federal Law Enforcement Training Center (FLETC) in Charleston, South Carolina where she trained federal law enforcement agencies including US Courts, Immigration and Customs Enforcement (ICE), US Marshal’s Witness Protection Program, the US Army’s Combat Camera Program, the Coast Guard, and the Federal Probation and Pretrial Training Academy. In 2018, Lisa retired after serving as the Acting Branch Chief of the Firearms and Safety Branch for the Federal Probation and Pretrial Academy, and founded Concealed 360.</p>
        </div>
      </div>



    <script src="/assets/js/build/app.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123576805-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123576805-1');
</script>

  </body>
</html>