
<ul class="main-nav">
  <li><a href="/about">about</a></li>
  <li><a href="/courses/law-enforcement">law enforcement</a></li>
  <li><a href="/courses/citizen-training">citizen training</a></li>
  <li><a href="/testimonials">testimonials</a></li>
  <li><a href="mailto:info@concealed360.com" class="button contact">CONTACT US</a></li>
</ul>
