/**
 *  This is where all the base styles live; resets, element defaults, default 
 *  font sizes, etc. This category is mainly dominated by element selectors. 
 *  You should always ask yourself if a ruleset must live in base in order to not 
 *  lose flexibility down the road.
 */

html {
    height: 100%;
    //height: 100%;
    min-height: 100%;
}

body {
	min-height: 100%;
    height: 100%;
} 

body {
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.button {
    font-family: $gotham-medium;
    color: #fff;
    background: $blue-dark;
    padding: 11px 32px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &.bblue {
        background: $blue-dark;

        &:hover {
            background: $blue-light;
        }
    }

    &.light-blue {
        background: $blue-light;

        &:hover {
            background: $yellow;
        }
    }

    &.yellowb {
        background: $yellow;
        color: $blue-dark;

        &:hover {
            background: $blue-light;
        }
    }

    &.contact {
        background: none;
        border: 1px solid #fff;

        &:hover {
            background: $yellow;
        }
    }

    &:hover {
        background: $blue-light;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #424143;
    line-height: 1.1;
    font-family: $gotham-book;
}

h1 {
    font-size: 33px;

    @media only screen and (max-width: 763px) {
        font-size: 28px;
    }

    &.headline {
        font-size: 38px;
        text-transform: uppercase;
    }
}

h2 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 14px;
    font-family: $gotham-book;

    a {
        font-weight: bold;
        color: #000;
        transition: all 200ms ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }
}

small {
    line-height: 14px;
    display: block;
}



/* #Margins and Paddings
================================================== */
.pad-large {
    padding-top: 150px;
    padding-bottom: 150px;

    @media only screen and (max-width: 768px){
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.pad-medium {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-small {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-copy {
    padding-right: 40px;
    padding-left: 40px;

    @media only screen and (max-width: 768px){
        padding: 0;
    }
}

.margin-10 {
    margin-bottom: 10px;
}

.margin-20 {
    margin-bottom: 20px;
}

.margin-40 {
    margin-bottom: 40px;
}

.margin-60 {
    margin-bottom: 60px;
}

.margin-80 {
    margin-bottom: 80px;
}

.margin-100 {
    margin-bottom: 100px;
}

.margin-120 {
    margin-bottom: 120px;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.padding-content {
    padding: 60px;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}




/* Slider */

.slick {
    padding: 0 0 64px 0;

    &:before {
        content: "";
        display: block;
        height: 1px;
        background: $blue-dark;
        width: 75%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -72px;
    }

    p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .byline {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    *:focus {
        outline: none;
    }

    // Styling the default Slick dots

.slick-dots {
    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 1rem 0;
    
    list-style-type: none;
    
        li {
            margin: 0 0.25rem;
        }
    
        button {
            display: block;
            width: 15px;
            height: 15px;
            padding: 0;
            
            border: 2px solid $blue-dark;
            border-radius: 100%;
            
            text-indent: -9999px;
        }
    
        li.slick-active button {
            background-color: $blue-dark;
        }
}

}



.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}