/**
 * Global Variables, Override Foundation variables here
 *
 */

 /* #Typography
================================================== */

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/assets/fonts/Gotham-Bold.eot');
  src: url('/assets/fonts/Gotham-Bold.woff2') format('woff2'),
       url('/assets/fonts/Gotham-Bold.woff') format('woff'),
       url('/assets/fonts/Gotham-Bold.ttf') format('truetype'),
       url('/assets/fonts/Gotham-Bold.svg#FuturaStd-Book') format('svg'),
       url('/assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('/assets/fonts/Gotham-Book.eot');
  src: url('/assets/fonts/Gotham-Book.woff2') format('woff2'),
       url('/assets/fonts/Gotham-Book.woff') format('woff'),
       url('/assets/fonts/Gotham-Book.ttf') format('truetype'),
       url('/assets/fonts/Gotham-Book.svg#FuturaStd-Book') format('svg'),
       url('/assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/fonts/Gotham-Medium.eot');
  src: url('/assets/fonts/Gotham-Medium.woff2') format('woff2'),
       url('/assets/fonts/Gotham-Medium.woff') format('woff'),
       url('/assets/fonts/Gotham-Medium.ttf') format('truetype'),
       url('/assets/fonts/Gotham-Medium.svg#FuturaStd-Book') format('svg'),
       url('/assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
$gotham-bold: Gotham-Bold;
$gotham-book: Gotham-Book;
$gotham-medium: Gotham-Medium;


/* #Colors
================================================== */

$blue-dark: #14212B;
$blue-medium: #2A3844;
$blue-light: #4F6373;
$brown: #8D8064;
$tan: #D9D7AB;
$yellow: #FBB31C;


.blue-dark {
    color: $blue-dark !important;
}
.blue-medium {
    color: $blue-medium !important;
}
.blue-light {
    color: $blue-light !important;
}
.brown {
    color: $brown !important;
}
.tan {
    color: $tan !important;
}
.yellow {
    color: $yellow !important;
}


.bg-blue-dark {
    background-color: $blue-dark !important;
}
.bg-blue-medium {
    background-color: $blue-medium !important;
}
.bg-blue-light {
    background-color: $blue-light !important;
}
.bg-brown {
    background-color: $brown !important;
}
.tan {
    background-color: $tan !important;
}
.yellow {
    background-color: $yellow !important;
}