/**
 *  In this section you specify all types of layout containers, such as header, 
 *  footer, content, sidebar, etc. The layout elements haven't got any styles 
 *  applied to them, they only divide the website into sections. This is the layer 
 *  where grid systems etc, would be living.
 */

.l-wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.row {
	max-width: 1400px;
}

.l-header {
	padding: 0 20px;
	//max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding-top: 45px;
	z-index: 2;
	position: relative;
	overflow: hidden;

	.logo {
		float: left;

		@media only screen and (max-width: 722px) {
			float: none;
			text-align: center;
		}
	}

	.main-nav {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			display: inline-block;
			margin-left: 20px;

			.contact {
				margin-left: 0;
				font-size: 12px;
				&:hover {
					color: $blue-dark;
				}
			}

			a {
				display: block;
				text-transform: uppercase;
				color: #fff;
				font-size: 14px;
				transition: all 300ms ease-in-out;

				&:hover {
					color: $yellow;
				}
			}
		}

		.button {
			 @media only screen and (max-width: 400px){
				margin-top: 20px;
			}
		}
		
		//Main Nav Media Query
		@media only screen and (max-width: 722px){
			float: none;
			list-style: none;
		    clear: both;
		    text-align: center;
		    padding: 20px 20px;

		    li {
		    	display: block;
		    	margin-bottom: 10px;
		    }
		}
	}
}


.interior-page {
	background-image: url('/assets/images/bg-interior.png');
	background-position: right top;
	background-repeat: no-repeat;

	body {
		background-color: transparent;
	}

	.intro-copy {
		//padding-left: 20px;
	}

	.main-nav {
		li a {
			color: $blue-dark;
		}

		.contact {
			margin-left: 0;
			font-size: 12px;
			border: 1px solid $blue-dark;

			&:hover {
				color: $blue-dark;
			}
		}
	}


	.teaser-content.teaser-border:before {
	        content: "";
		    display: block;
		    height: 350px;
		    position: absolute;
		    width: 1px;
		    background: #14212B;
		    top: -51px;
		    left: -4px;
	}
}

.home-wrapper {
	//min-height: 100%;
	//height: 100%;
	min-height: 774px;
	width: 100%;
	background: $blue-dark;
	z-index: 20;
	overflow: hidden;
	position: relative;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);

	@media only screen and (max-width: 722px) {
		-webkit-clip-path: none;
		clip-path: none;
	}



	.intro-copy {
		z-index: 3;
		position: relative;
		width: 60%;
		//transform: translateY(-50%);
		//top: 50%;
		//left: 40px;
		//padding: 0 40px;
		padding-top: 13%;
		padding-left: 20px;

		@media only screen and (max-width: 803px){
			width: 100%;
		    position: relative;
		    padding: 0 40px;
		    top: 0;
		    left: 0;
		    transform: none;
		    //padding-top: 99px;
		}

		h1, p {
			color: #fff;
		}

		.button {
			background: $yellow;
			color: $blue-dark;

			&:hover {
				background: $blue-light;
				color: #fff;
			}
		}
	}

	
}

.home-bg {
	position: absolute;
    background-image: url(/assets/images/bg-home.svg);
    background-repeat: no-repeat;
    background-position: 0 -200px;
    //height: 100%;
    height: 774px;
    width: 1000px;
    z-index: 0;
    right: -20px;
    top: 0;
    opacity: .14;
    	@media only screen and (max-width: 800px){
			right: 0;
		}
}

.teaser-padding {
	padding: 68px 0 149px 0;
}

.teaser-content {
	padding: 0 60px;
	position: relative;
	
	h1 {
		text-transform: uppercase;

		&:after {
			content: '';
			display: block;
			width: 60px;
			margin: 0 auto;
			height: 3px;
			background: $yellow;
			margin-top: 13px;
			margin-bottom: 14px;
		}
	}


	&.teaser-border {
		&:before {
			content: "";
		    display: block;
		    height: 499px;
		    position: absolute;
		    width: 1px;
		    background: $blue-dark;
		    top: -200px;
		    left: -4px;
		}
	}

	@media only screen and (max-width: 722px) {
		padding-bottom: 40px;
	}
}



.home-footer {
	background: #FBB31C;
    position: relative;
    min-height: 65px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
    padding: 17px 40px 20px 40px;
    z-index: 2;
    overflow: hidden;

    @media only screen and (max-width: 400px){
		position: relative;
		padding-top: 0;
		margin-top: 20px;
		min-height: 20px;
		-webkit-clip-path: none;
   		clip-path: none;
	}
}

	.footer-nav {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;

		@media only screen and (max-width: 400px){
			float: left;
		}

		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			display: inline-block;
			margin-left: 20px;
			margin-bottom: 0;

			.contact {
				margin-left: 0;
				font-size: 12px;
				margin-bottom: 0;
				border-color: $blue-dark;

				&:hover {
					color: #fff;
					background: $blue-light;
				}
			}

			a {
				display: block;
				text-transform: uppercase;
				color: $blue-dark;
				font-size: 14px;
				transition: all 300ms ease-in-out;

				&:hover {
					color: $blue-light;
				}
			}
		}

		.button {
			 @media only screen and (max-width: 400px){
				margin-top: 20px;
			}
		}
		
		//Footer 
		@media only screen and (max-width: 722px) {
			float: none;
			text-align: center;

			li {
				display: block;
				margin-left: 0;
			}
			
	    }
	}



.copyright {
	display: block;
	font-size: 11px;
	width: 40%;
    float: left;
    padding-top: 14px;

    @media only screen and (max-width: 722px) {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		float: none;
    }
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $blue-dark;
	z-index: 9999;
	opacity: .98;
	visibility: hidden;
	opacity: 0;
	transition: all 300ms ease-in-out;

	&.open {
		visibility: visible;
		opacity: 1;
	}

	.modal {
		padding: 60px;
		background: url('/assets/images/bg-modal.svg') no-repeat;
		background-position: 0 0;
		background-color: #fff;
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		 @media only screen and (max-width: 400px){
			top: 0;
			transform: none;
		}

		.close {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 20px; 
			right: 20px;
			display: block;
			background: url('/assets/images/close.png') no-repeat;
		}
	}
}

.page-title {
	h1 {
		&:after {
			content: '';
			display: block;
			height: 3px;
			width: 80px;
			background: $yellow;
			margin: 0 auto;
			margin-top: 15px;
			margin-bottom: 20px;
		}
	}
}

.course {
	display: block;
	position: relative;
	margin-bottom: 30px;

	.course-copy {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 22;
		color: #fff;

		.button {
			margin-top: 15px;
			margin-bottom: 0;
			//visibility: hidden;
			//opacity: 0;
		}

		h1 {
			font-size: 18px;
			font-family: $gotham-medium;
    		color: #fff;
		}
	}
}


.price {
	font-weight: bold;
	font-size: 14px;
}






































